<!DOCTYPE html>
<html>
<head>
  <title>Iaas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://jquery.com/src/jquery-latest.js"></script>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
